.TaskField {
	width: 100%;
}

.taskName {
	height: 50px;
	width: 600px;
	margin: 0 auto;
	color: white;
	display: flex;
	padding: 0 15px;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	margin-top: 20px;
}

.taskText {
	font-size: 25px;
}

.buttons {
	display: flex;
	gap: 20px;
}
